/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

body {
  background: #7CEA9C;
}

.footer {
  height: 5vh;
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.Map {
  border-radius: 1rem;
}

.MapMenu {
  display: flex;
}

.Menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  padding: 0 1rem 1rem 1rem;
}

.Panel {
  display: flex;
  width: 100%;
  justify-content: center;
}

.MenuLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1rem 0.5rem 1rem;
}

.MenuLabel__title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #0366d6;
}